---
Checks: >
  *,
  -altera-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-macro-usage,-cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -fuchsia-*,
  -google-explicit-constructor,
  -google-readability-braces-around-statements,
  -google-readability-namespace-comments,
  -google-readability-todo,
  -google-runtime-int,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unconventional-assign-operator,
  -misc-unused-parameters,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -portability-simd-intrinsics,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
FormatStyle: file
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
...
